a {
  color: black !important;
}

.gallary {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.item {
  width: 30%;
}

.home-card {
  max-width: 500px;
  height: max-content;
  margin: 26px auto;
}
